.card{
  
    display:flex;
    width:550px;
    justify-content:space-between;
    margin-left:auto;
    margin-right:auto;
    border:4px solid ;
    margin:20px 40px;
    padding:40px 60px;
    
    
}
.avatar-details{
    background:aquamarine;
    padding-right: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    border-radius:180%;
    background: lightblue;
    border: 4px solid aquamarine;
    
    
}
.card-border{
    width:20px 40px;
    border:4px solid ;
    background: aquamarine;
    
}
